body {
  min-width: 300px;
  min-height: 100px;
  text-align: center;
  padding: 20px;
}

.content {
  background-color: rgb(1, 1, 75);
  color: #fff;
}

.speedBtn {
  border: 0;
  border-radius: 1px;
  margin: 0 1px;
  box-shadow: 1px 1px 15px lightblue;
}

.speedBtn:hover {
  color: #fff;
  background-color: rgb(65, 65, 209);
}

.active {
  color: #fff;
  background-color: rgb(65, 65, 209);
}

.btns {
}